
<mat-card>
	<!-- Team Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Team" [(value)]="selectedTeam">
			<mat-option *ngFor="let team of teams" [value]="team">
				{{team}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<!-- Event Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Event" [(value)]="selectedEvent">
			<mat-option *ngFor="let event of events" [value]="event">
				{{event}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<!-- Match Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Match" [(value)]="selectedMatch">
			<mat-option *ngFor="let match of matches" [value]="match">
				{{match}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-accordion class="example-headers-align">
		<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Pre-Match
				</mat-panel-title>
			</mat-expansion-panel-header>
			
			<h2>Robot Readiness</h2>
			<mat-radio-group>
				<mat-radio-button value="functional" checked>Good To Go</mat-radio-button>
				<mat-radio-button value="noShow">No Show</mat-radio-button>
				<mat-radio-button value="disabled">Disabled</mat-radio-button>
				<mat-radio-button value="nonfunctional">Non-functional</mat-radio-button>
			</mat-radio-group>

			<h2>Initial Robot Placement</h2>
			<section>
				<mat-radio-group>
					<mat-radio-button value="left">Left</mat-radio-button>
					<mat-radio-button value="middle">Middle</mat-radio-button>
					<mat-radio-button value="right">Right</mat-radio-button>
				</mat-radio-group>
			</section>

			<h2>Field configuration</h2>
			<section>
				<mat-grid-list class="field-config" cols="1" rowHeight="fit">
					<mat-grid-tile>
						<mat-button-toggle-group>
							<mat-button-toggle>LO Switch</mat-button-toggle>
							<mat-button-toggle>RO Switch</mat-button-toggle>
						</mat-button-toggle-group>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-button-toggle-group>
							<mat-button-toggle>L Scale</mat-button-toggle>
							<mat-button-toggle>R Scale</mat-button-toggle>
						</mat-button-toggle-group>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-button-toggle-group>
							<mat-button-toggle>LA Switch</mat-button-toggle>
							<mat-button-toggle>RA Switch</mat-button-toggle>
						</mat-button-toggle-group>
					</mat-grid-tile>
				</mat-grid-list>
				<br>
				<br>
			</section>

			<mat-action-row>
				<button mat-button color="primary" (click)="nextStep()">Next</button>
			</mat-action-row>
		</mat-expansion-panel>

		<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Auto
				</mat-panel-title>
			</mat-expansion-panel-header>

			<section>
				<mat-checkbox>Crossed the line?</mat-checkbox>
				<br>
				<button mat-icon-button><i class="material-icons">remove</i></button>
				<mat-form-field>
					<input matInput type="number" placeholder="# of cubes in Switch">
				</mat-form-field>
				<button mat-icon-button><i class="material-icons">add</i></button>
				<br>
				<button mat-icon-button><i class="material-icons">remove</i></button>
				<mat-form-field>
					<input matInput type="number" placeholder="# of cubes in Scale">
				</mat-form-field>
				<button mat-icon-button><i class="material-icons">add</i></button>
			</section>

			<mat-action-row>
				<button mat-button color="warn" (click)="prevStep()">Previous</button>
				<button mat-button color="primary" (click)="nextStep()">Next</button>
			</mat-action-row>
		</mat-expansion-panel>

		<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Teleop
				</mat-panel-title>
			</mat-expansion-panel-header>

			<h2>Power Cube</h2>
			<section>
				
				<mat-form-field>
					<mat-select placeholder="Source" [(value)]="selectedSource">
						<mat-option *ngFor="let source of cubeSources" [value]="source">
							{{source}}
						</mat-option>
					</mat-select>					
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Pickup Orientation" [(value)]="selectedOrientation">
						<mat-option *ngFor="let orientation of cubeOrientations" [value]="orientation">
							{{orientation}}
						</mat-option>
					</mat-select>					
				</mat-form-field>
				
				<mat-form-field>
					<mat-select placeholder="Destination" [(value)]="selectedDestination">
						<mat-option *ngFor="let destination of cubeDestinations" [value]="destination">
							{{destination}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<button mat-raised-button (click)="addCycle(datatableElement)">Add Cycle</button>	
			</section>
			
			<mat-card>	
				<table datatable [dtOptions]="dtOptions" class="display cell-border compact hover" style="width:100%">
				</table>
			</mat-card>

			<h2>Climbing</h2>
			<section>
				<mat-radio-group class="example-radio-group" [(ngModel)]="climbingType">
					<mat-radio-button class="example-radio-button" *ngFor="let climbType of climbTypes" [value]="climbType">
						{{climbType}}
					</mat-radio-button>
				</mat-radio-group>
			</section>
			<br>

			<mat-action-row>
				<button mat-button color="warn" (click)="prevStep()">Previous</button>
				<button mat-button color="primary" (click)="nextStep()">End</button>
			</mat-action-row>

		</mat-expansion-panel>
	</mat-accordion>

	<mat-form-field class="form">
		<textarea matInput placeholder="Additional Comments/Notes"></textarea>
	</mat-form-field>
	<br>
	<button mat-raised-button (click)="saveForm()">Save Form</button>

</mat-card>
