
<mat-card>
	<!-- Event Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Event" 
					[(value)]="selectedEvent"
					[formControl]="selectEvent"
					(selectionChange) = "getTeamsAtEvent()"
					required>
			<mat-option *ngFor="let event of objectKeys(events)" [value]="event">
				{{event}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="selectEvent.hasError('required')">
			Event is required!
		</mat-error>
	</mat-form-field>

	<!-- Team Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Team"
					[(value)]="selectedTeam"
					[formControl]="selectTeam"
					(selectionChange) = "getMatchesOfTeamsAtEvent()"
					required>
			<mat-option *ngFor="let team of teams" [value]="team">
				{{team}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="selectTeam.hasError('required')">
			Team is required!
		</mat-error>
	</mat-form-field>

	<!-- Match Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Match" 
			[(value)]="selectedMatch" 
			[formControl]="selectMatch"
			required>
			<mat-option *ngFor="let match of matches" [value]="match">
				{{match}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="selectMatch.hasError('required')">
			Match is required!
		</mat-error>		
	</mat-form-field>

	<mat-accordion class="example-headers-align">
		<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Pre-Match
				</mat-panel-title>
			</mat-expansion-panel-header>
			
			<h2>Robot Readiness</h2>
			<mat-radio-group [formControl]="robotReadinessRadioGroup" [(ngModel)]="robotReadiness" required>
				<mat-radio-button value=0>Good To Go</mat-radio-button>
				<mat-radio-button value=1>No Show</mat-radio-button>
				<mat-radio-button value=2>Disabled</mat-radio-button>
				<mat-radio-button value=3>Non-functional</mat-radio-button>
			</mat-radio-group>

			<h2>Initial Robot Placement</h2>
			<mat-radio-group [formControl]="initialRobotPlacementRadioGroup" [(ngModel)]="initialRobotPlacement" required>
				<mat-radio-button value=0>Left</mat-radio-button>
				<mat-radio-button value=1>Middle</mat-radio-button>
				<mat-radio-button value=2>Right</mat-radio-button>
			</mat-radio-group>

			<h2>Field configuration</h2>
			<section>
				<mat-button-toggle-group [(ngModel)]="opponentSwitchToggleGroup">
					<mat-button-toggle class="field-config" value="lo">LO Switch</mat-button-toggle>
					<mat-button-toggle class="field-config" value="ro">RO Switch</mat-button-toggle>
				</mat-button-toggle-group>
				<br>
				<mat-button-toggle-group [(ngModel)]="scaleToggleGroup">
					<mat-button-toggle class="field-config" value="ls">L Scale</mat-button-toggle>
					<mat-button-toggle class="field-config" value="rs">R Scale</mat-button-toggle>
				</mat-button-toggle-group>
				<br>
				<mat-button-toggle-group [(ngModel)]="allianceSwitchToggleGroup">
					<mat-button-toggle class="field-config" value="la">LA Switch</mat-button-toggle>
					<mat-button-toggle class="field-config" value="ra">RA Switch</mat-button-toggle>
				</mat-button-toggle-group>
			</section>

			<mat-action-row>
				<button mat-button color="primary" (click)="nextStep()">Next</button>
			</mat-action-row>
		</mat-expansion-panel>

		<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Auto
				</mat-panel-title>
			</mat-expansion-panel-header>

			<section>
				<mat-checkbox [(ngModel)]="crossedTheLine">Crossed the line?</mat-checkbox>
				<br><br>
				<mat-form-field>
					<input 	matInput 
							type="number"
							min = 0
							placeholder="# of cubes in Switch"
							[(ngModel)]="autoSwitchCubeCount"
							[formControl] = "autoSwitchCubeCountInput"
							required>
					<mat-error *ngIf="autoSwitchCubeCountInput.hasError('required')">
						Cube count is required!
					</mat-error>
					<mat-error *ngIf="autoSwitchCubeCount < 0">
						Cube count can't be less than 0
					</mat-error>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input 	matInput 
							type="number"
							min = 0
							placeholder="# of cubes in Scale"
							[(ngModel)]="autoScaleCubeCount"
							[formControl] = "autoScaleCubeCountInput"
							required>
					<mat-error *ngIf="autoScaleCubeCountInput.errors">
						Cube count is required!
					</mat-error>
					<mat-error *ngIf="autoScaleCubeCount < 0">
						Cube count can't be less than 0
					</mat-error>
					<mat-error *ngIf="autoScaleCubeCount > 0">
						Cube count can't be less than 0
					</mat-error>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input 	matInput 
							type="number"
							min = 0
							placeholder="# of cubes in Exchange Zone"
							[(ngModel)]="autoExchangeCubeCount"
							[formControl] = "autoExchangeCubeCountInput"
							required>
					<mat-error *ngIf="autoExchangeCubeCountInput.errors">
						Cube count is required!
					</mat-error>
					<mat-error *ngIf="autoExchangeCubeCount < 0">
						Cube count can't be less than 0
					</mat-error>
				</mat-form-field>
			</section>

			<mat-action-row>
				<button mat-button color="warn" (click)="prevStep()">Previous</button>
				<button mat-button color="primary" (click)="nextStep()">Next</button>
			</mat-action-row>
		</mat-expansion-panel>

		<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Teleop
				</mat-panel-title>
			</mat-expansion-panel-header>

			<h2>Power Cube</h2>
			<section>
				
				<mat-form-field>
					<mat-select placeholder="Source" [(value)]="selectedSource" [formControl]="selectSource" required>
						<mat-option *ngFor="let source of cubeSources" [value]="source">
							{{source}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="selectSource.hasError('required')">
						Source is required!
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Pickup Orientation" [(value)]="selectedOrientation" [formControl]="selectOrientation" required>
						<mat-option *ngFor="let orientation of cubeOrientations" [value]="orientation">
							{{orientation}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="selectOrientation.hasError('required')">
						Orientation is required!
					</mat-error>
				</mat-form-field>
				
				<mat-form-field>
					<mat-select placeholder="Destination" [(value)]="selectedDestination" [formControl]="selectDestination" required>
						<mat-option *ngFor="let destination of cubeDestinations" [value]="destination">
							{{destination}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="selectDestination.hasError('required')">
						Destination is required!
					</mat-error>					
				</mat-form-field>

				<button 	mat-raised-button 
							[disabled]="selectDestination.invalid || selectSource.invalid || selectOrientation.invalid" 
							(click)="addCycle(datatableElement)">
					Add Cycle
				</button>	
			</section>
			
			<mat-card>	
				<table datatable [dtOptions]="dtOptions" class="display cell-border compact hover" style="width:100%">
				</table>
			</mat-card>

			<h2>Climbing</h2>
			<section>
				<mat-radio-group 
					class="example-radio-group" 
					[(ngModel)]="climbingType" 
					[formControl]="climbingRadioGroup" 
					required>
					<mat-radio-button class="example-radio-button" *ngFor="let climbType of climbTypes; let i = index" [value]="i">
						{{climbType}}
					</mat-radio-button>
				</mat-radio-group>
			</section>
			<br>

			<mat-action-row>
				<button mat-button color="warn" (click)="prevStep()">Previous</button>
				<button mat-button color="primary" (click)="nextStep()">End</button>
			</mat-action-row>

		</mat-expansion-panel>
	</mat-accordion>

	<br>
	<mat-form-field class="form">
		<textarea 	matInput 
					placeholder="Additional Comments/Notes"
					[(ngModel)]="comments"></textarea>
	</mat-form-field>
	<br>
	<!-- This button will save the form data for the database -->

	<button mat-raised-button 
			[disabled] = "
				selectTeam.invalid
				|| selectEvent.invalid
				|| selectMatch.invalid
				|| robotReadinessRadioGroup.invalid
				|| initialRobotPlacementRadioGroup.invalid
				|| autoSwitchCubeCountInput.invalid
				|| autoScaleCubeCountInput.invalid
				|| (datatableElement.dtInstance | async)?.row().count() < 0
				|| climbingRadioGroup.invalid
			"
			(click)="saveForm()">
		Insert Form
	</button>
</mat-card>

