<mat-card>
	<!-- Component will display all teams and statistics -->
	<!-- Mini SpiderWeb graph for all teams -->
	<!-- Team displays are ranked based on overall YPR -->

	<mat-progress-bar *ngIf = "triggerProgressSpinner" mode="indeterminate"></mat-progress-bar>

	<!-- Event Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Event" 
					[(value)]="selectedEvent"
					[formControl]="selectEvent"
					(selectionChange) = "getYPRAnalytics()"
					required>
			<mat-option *ngFor="let event of objectKeys(events)" [value]="event">
				{{event}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="selectEvent.hasError('required')">
			Event is required!
		</mat-error>
	</mat-form-field>

	<mat-card>	
		<table datatable [dtOptions]="dtOptions" class="display cell-border compact hover nowrap dt[-head|-body]-nowrap" style="width:100%">
		</table>
	</mat-card>
</mat-card>