<mat-card>
	<!-- Component will display all teams and statistics -->
	<!-- Mini SpiderWeb graph for all teams -->
	<!-- Team displays are ranked based on overall YPR -->

	<!-- Event Dropdown -->
	<mat-form-field>
		<mat-select placeholder="Event" 
					[(value)]="selectedEvent"
					[formControl]="selectEvent"
					(selectionChange) = "getYPRAnalytics()"
					required>
			<mat-option *ngFor="let event of objectKeys(events)" [value]="event">
				{{event}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="selectEvent.hasError('required')">
			Event is required!
		</mat-error>
	</mat-form-field>

    <div *ngFor="let chart of teamCharts"
    	 [chart]="chart">
    </div>

</mat-card>